
{{title}}

<h2> List of Cars</h2>

<div>
  <label>Car name:</label> <input #carName/>
  <label>Car registration:</label> <input #carRegistration/>
  <button (click)="add(carName.value); carName.value='';add(carRegistration.value);carRegistration.value=''">
    Add
  </button>
</div>

<div>
  <ul class = "cars">

    <li *ngFor = "let car of cars"
     [class.selected]="car === selectedCar"
     (click) = "onSelect(car)">


      <span class = "badge">{{car.id}}</span>

      {{car.name}}
      {{car.registration}}


    </li>

  </ul>

</div>
<div>
  <h2>
    {{selectedCar.name | uppercase}} is my car
  </h2>
  <button (click) = "gotoDetail()">View Details</button>

</div>
